# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
venv/
.venv/
env/

# PyInstaller
build/
dist/
*.spec.bak

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db
desktop.ini

# VS Code
.vscode/

# Outros
*.tmp
*.bak
